<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.bitcoinexplorer1109.dao.transcationMapper">
  <resultMap id="BaseResultMap" type="com.lz.bitcoinexplorer1109.po.transcation">
    <result column="Txid" jdbcType="INTEGER" property="txid" />
    <result column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="total input" jdbcType="DOUBLE" property="totalInput" />
    <result column="total output" jdbcType="DOUBLE" property="totalOutput" />
    <result column="block_id" jdbcType="INTEGER" property="blockId" />
  </resultMap>
  <insert id="insert" parameterType="com.lz.bitcoinexplorer1109.po.transcation">
    insert into transcation (Txid, hash, time, 
      "total input", "total output", block_id
      )
    values (#{txid,jdbcType=INTEGER}, #{hash,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, 
      #{totalInput,jdbcType=DOUBLE}, #{totalOutput,jdbcType=DOUBLE}, #{blockId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lz.bitcoinexplorer1109.po.transcation">
    insert into transcation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        Txid,
      </if>
      <if test="hash != null">
        hash,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="totalInput != null">
        "total input",
      </if>
      <if test="totalOutput != null">
        "total output",
      </if>
      <if test="blockId != null">
        block_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="txid != null">
        #{txid,jdbcType=INTEGER},
      </if>
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="totalInput != null">
        #{totalInput,jdbcType=DOUBLE},
      </if>
      <if test="totalOutput != null">
        #{totalOutput,jdbcType=DOUBLE},
      </if>
      <if test="blockId != null">
        #{blockId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.lz.bitcoinexplorer1109.po.transcation">
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="difficulty" jdbcType="TINYINT" property="difficulty" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="categor_id" jdbcType="INTEGER" property="categorId" />
    <result column="knowledge_id" jdbcType="INTEGER" property="knowledgeId" />
  </resultMap>
  <insert id="insert" parameterType="com.lz.bitcoinexplorer1109.po.transcation">
    insert into question (question_id, content, type, 
      difficulty, create_time, create_user, 
      categor_id, knowledge_id)
    values (#{questionId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{difficulty,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{categorId,jdbcType=INTEGER}, #{knowledgeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lz.bitcoinexplorer1109.po.transcation">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        question_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="difficulty != null">
        difficulty,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="categorId != null">
        categor_id,
      </if>
      <if test="knowledgeId != null">
        knowledge_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="difficulty != null">
        #{difficulty,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="categorId != null">
        #{categorId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId != null">
        #{knowledgeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.lz.bitcoinexplorer1109.po.transcation">
    <result column="question_id" jdbcType="INTEGER" property="questionId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="difficulty" jdbcType="TINYINT" property="difficulty" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="categor_id" jdbcType="INTEGER" property="categorId" />
    <result column="knowledge_id" jdbcType="INTEGER" property="knowledgeId" />
  </resultMap>
  <insert id="insert" parameterType="com.lz.bitcoinexplorer1109.po.transcation">
    insert into question (question_id, content, type, 
      difficulty, create_time, create_user, 
      categor_id, knowledge_id)
    values (#{questionId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{difficulty,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{createUser,jdbcType=VARCHAR}, 
      #{categorId,jdbcType=INTEGER}, #{knowledgeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.lz.bitcoinexplorer1109.po.transcation">
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        question_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="difficulty != null">
        difficulty,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="categorId != null">
        categor_id,
      </if>
      <if test="knowledgeId != null">
        knowledge_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="questionId != null">
        #{questionId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="difficulty != null">
        #{difficulty,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="categorId != null">
        #{categorId,jdbcType=INTEGER},
      </if>
      <if test="knowledgeId != null">
        #{knowledgeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>